plugins/com.redhat.ceylon.eclipse.ui/META-INF/overrides.xsd

<?xml version="1.1" encoding="UTF-8"?>
<xs:schema xmlns:ovr="http://www.ceylon-lang.org/xsd/overrides" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ceylon-lang.org/xsd/overrides">
  <xs:complexType name="defineType">
    <xs:annotation>
      <xs:documentation>Define variables for string interpolation</xs:documentation>
    </xs:annotation>
    <xs:attribute type="xs:string" name="name"/>
    <xs:attribute type="xs:string" name="value"/>
  </xs:complexType>
  <xs:complexType name="addType" abstract="false">
        <xs:attribute type="xs:string" name="module" use="optional"/>
        <xs:attribute type="xs:string" name="groupId" use="optional"/>
        <xs:attribute type="xs:string" name="artifactId" use="optional"/>
        <xs:attribute type="xs:string" name="version"/>
        <xs:attribute type="xs:string" name="shared" use="optional"/>
        <xs:attribute type="xs:string" name="optional" use="optional"/>
  </xs:complexType>
  <xs:complexType name="moduleType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element type="ovr:addType" name="add" form="qualified">
          </xs:element>
          <xs:element type="ovr:removeType" name="remove" form="qualified">
          </xs:element>
          <xs:element type="ovr:shareType" name="share" form="qualified">
          </xs:element>
          <xs:element type="ovr:unshareType" name="unshare" form="qualified">
          </xs:element>
          <xs:element type="ovr:optionalType" name="optional" form="qualified">
          </xs:element>
          <xs:element type="ovr:requireType" name="require" form="qualified">
          </xs:element>
        </xs:choice>
        <xs:attribute type="xs:string" name="module"/>
        <xs:attribute type="xs:string" name="groupId" use="optional"/>
        <xs:attribute type="xs:string" name="artifactId" use="optional"/>
        <xs:attribute type="xs:string" name="version" use="optional"/>
  </xs:complexType>
  <xs:complexType name="artifactType">
    <xs:complexContent>
      <xs:restriction base="ovr:moduleType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element type="ovr:addType" name="add" form="qualified">
          </xs:element>
          <xs:element type="ovr:removeType" name="remove" form="qualified">
          </xs:element>
          <xs:element type="ovr:shareType" name="share" form="qualified">
          </xs:element>
          <xs:element type="ovr:unshareType" name="unshare" form="qualified">
          </xs:element>
          <xs:element type="ovr:optionalType" name="optional" form="qualified">
          </xs:element>
          <xs:element type="ovr:requireType" name="require" form="qualified">
          </xs:element>
        </xs:choice>
        <xs:attribute type="xs:string" name="groupId"/>
        <xs:attribute type="xs:string" name="artifactId"/>
        <xs:attribute type="xs:string" name="version" use="optional"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="replaceType" abstract="false">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element type="ovr:withType" name="with"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="module" use="optional"/>
    <xs:attribute type="xs:string" name="groupId" use="optional"/>
    <xs:attribute type="xs:string" name="artifactId" use="optional"/>
    <xs:attribute type="xs:string" name="version" use="optional"/>
  </xs:complexType>
  <xs:complexType name="setType" abstract="false">
    <xs:attribute type="xs:string" name="module" use="optional"/>
    <xs:attribute type="xs:string" name="groupId" use="optional"/>
    <xs:attribute type="xs:string" name="artifactId" use="optional"/>
    <xs:attribute type="xs:string" name="version" use="optional"/>
  </xs:complexType>
  <xs:complexType name="removeType" abstract="false">
    <xs:attribute type="xs:string" name="module" use="optional"/>
    <xs:attribute type="xs:string" name="groupId" use="optional"/>
    <xs:attribute type="xs:string" name="artifactId" use="optional"/>
    <xs:attribute type="xs:string" name="version" use="optional"/>
  </xs:complexType>
  <xs:complexType name="unshareType" abstract="false">
    <xs:attribute type="xs:string" name="module" use="optional"/>
    <xs:attribute type="xs:string" name="groupId" use="optional"/>
    <xs:attribute type="xs:string" name="artifactId" use="optional"/>
        <xs:attribute type="xs:string" name="version" use="optional"/>
  </xs:complexType>
  <xs:complexType name="optionalType" abstract="false">
    <xs:attribute type="xs:string" name="module" use="optional"/>
    <xs:attribute type="xs:string" name="groupId" use="optional"/>
    <xs:attribute type="xs:string" name="artifactId" use="optional"/>
        <xs:attribute type="xs:string" name="version" use="optional"/>
  </xs:complexType>
  <xs:complexType name="requireType" abstract="false">
    <xs:attribute type="xs:string" name="module" use="optional"/>
    <xs:attribute type="xs:string" name="groupId" use="optional"/>
    <xs:attribute type="xs:string" name="artifactId" use="optional"/>
    <xs:attribute type="xs:string" name="version" use="optional"/>
  </xs:complexType>
  <xs:complexType name="shareType" abstract="false">
    <xs:attribute type="xs:string" name="module" use="optional"/>
    <xs:attribute type="xs:string" name="groupId" use="optional"/>
    <xs:attribute type="xs:string" name="artifactId" use="optional"/>
    <xs:attribute type="xs:string" name="version" use="optional"/>
  </xs:complexType>
  <xs:complexType name="withType" abstract="false">
    <xs:attribute type="xs:string" name="module" use="optional"/>
    <xs:attribute type="xs:string" name="groupId" use="optional"/>
    <xs:attribute type="xs:string" name="artifactId" use="optional"/>
    <xs:attribute type="xs:string" name="version" use="optional"/>
  </xs:complexType>
  <xs:complexType name="overridesType">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:choice minOccurs="1" maxOccurs="1">
          <xs:element type="ovr:defineType" name="define" form="qualified">
          </xs:element>
          <xs:element type="ovr:setType" name="set" form="qualified">
          </xs:element>
          <xs:element type="ovr:removeType" name="remove" form="qualified">
          </xs:element>
          <xs:element type="ovr:replaceType" name="replace" form="qualified">
          </xs:element>
          <xs:element type="ovr:moduleType" name="module" form="qualified">
          </xs:element>
          <xs:element type="ovr:artifactType" name="artifact" form="qualified">
          </xs:element>
        </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="overrides" type="ovr:overridesType"/>
</xs:schema>